# bitrix
/bitrix/
/upload/

# dependencies
*/**/vendor/
*/**/composer.lock
*/**/node_modules/
*/**/package-lock.json

# production
*/**/build/
*/**/dist/

# misc
/.idea/
/.osp/
*/**/log/

#files
.htsecure
.DS_Store
.htpasswd
.well-known
restore.php
.htpassword
*.log
*.txt
*.lock
*.xml
*.xls
*.rar
*.zip
*.tar
*.gz
